	* {
		margin: 0;
		padding: 0;
		text-align: center;
		font-size: 15px;
		font-family: arial;
		box-sizing: border-box;
	}

	h1 {
		font-size: 50px;
	}

	#web {
		margin: 0 auto;
		height: 700px;
		width: 800px;
		border: 5px groove #993300;
		position: relative;
	}

	#Caja1 {
		height: 100px;
		color: white;
		background-color: black;
	}

	navegador {
		display: flex;
		justify-content: center;
		flex-shrink: 10;
	}



	navegador a[href] {
		background-color: black;
		color: white;
		border-bottom: 4px solid blue;
		display: block;
		padding: 8px 16px;
	}

	#nav-active {
		background-color: green;
	}

	#Caja2 {
		margin: 12px;
		height: 560px;
		width: 180px;
		top: 120px;
		padding: 10px;
		border: 2px solid #663333;
		background-color: #ece5b6;
	}

	#marcoCaja3 {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 600px;
		width: 580px;
		top: 100px;
		left: 220px;
		position: absolute;
	}

	#Caja3 {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 570px;
		width: 540px;
		position: absolute;
		border: 2px solid #663333;
		background-color: #ece5b6;
		flex-wrap: wrap;
	}

	.img-sites {
		width: 400px;
		height: 250px;
		object-fit: contain;
	}

	.btn-form {
		padding: 5px;
		margin: 1px;
	}